/*
CTC Separate Stylesheet
Updated: 2019-03-03 21:54:40
*/

html {
    font-family: 'Montserrat', sans-serif; !important;
}
body, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif; !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; !important;
}
pre {
    font-family: 'Montserrat', sans-serif; !important;
}
blockquote {
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 60px;
}
hr {
    margin: 60px 0;
}
code, kbd, tt, var {
    font-family: 'Montserrat', sans-serif; !important;
}
.inside-navigation {
    position: fixed;
}
.search-item a:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.dropdown-menu-toggle:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.site-header {
    height: 120px !important;
    overflow: hidden;
    top: 0 !important;
    -moz-transition: .1s ease;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
    z-index: 0;
    left: 221px;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
}
.inside-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cat-links:before, .tags-links:before, .comments-link:before, .nav-previous .prev:before, .nav-next .next:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.generate-back-to-top:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.main-navigation .slideout-toggle a:before, .slide-opened .slideout-overlay .slideout-exit:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.menu-toggle:before {
    font-family: 'Montserrat', sans-serif; !important;
}
.sidebar {
    z-index: 998;
}
.site-content {
    padding: 0 20px 0 30px !important;
}
#generate-slideout-menu {
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.slideout-navigation ul:not(.toggled) .dropdown-menu-toggle:before {
    display: inline-block;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.offside {
    height: auto !important;
    bottom: 0 !important;
    top: auto;
}
.offside-js--is-open .slideout-overlay {
    opacity: 0.5;
}
.slideout-exit {
    visibility: visible;
}
#mobile-header {
    position: relative;
    bottom: 0;
}
.site-branding, .site-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
#order_data .order_data_column {
    width: 100% !important;
    float: none !important;
}
#elementor-editor {
    display: none !important;
}
#elementor-switch-mode {
    display: none !important;
}
@media (max-width: 769px) {
.grid-container {
    margin-right: 0;
    margin-left: 0;
    position: relative;
}
}
@media (max-width: 768px) {
#site-navigation, #sticky-navigation, .site-header {
    display: block !important;
    left: 0 !important;
    opacity: 1;
}
}
@media (min-width: 769px) {
.site-header {
    display: block;
}
.grid-container {
    margin-right: 0;
    margin-left: 0;
    position: relative;
}
.sidebar {
    height: 100%;
    background-color: #1a2930;
    overflow: visible;
    max-width: 230px !important;
    position: fixed;
    min-width: 220px !important;
    top: 0;
    left: 0;
    opacity: 1;
}
.site-info {
    padding-left: 20%;
}
.push-15 {
    left: 230px;
    margin: 5px;
}
.grid-85 {
    width: 80%;
}
}
